In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("nlp_train.csv")

In [5]:
df

,text,target,category
0,I was wondering if anyone out there could enli...,7,rec.autos
1,A fair number of brave souls who upgraded thei...,4,comp.sys.mac.hardware
2,"well folks, my mac plus finally gave up the gh...",4,comp.sys.mac.hardware
3,\nDo you have Weitek's address/phone number? ...,1,comp.graphics
4,"From article <C5owCB.n3p@world.std.com>, by to...",14,sci.space
...,...,...,...
11309,DN> From: nyeda@cnsvax.uwec.edu (David Nye)\nD...,13,sci.med
11310,"I have a (very old) Mac 512k and a Mac Plus, b...",4,comp.sys.mac.hardware
11311,I just installed a DX2-66 CPU in a clone mothe...,3,comp.sys.ibm.pc.hardware
11312,\nWouldn't this require a hyper-sphere. In 3-...,1,comp.graphics
11313,Stolen from Pasadena between 4:30 and 6:30 pm ...,8,rec.motorcycles

In [12]:
df['category'].unique()

array(['rec.autos', 'comp.sys.mac.hardware', 'comp.graphics', 'sci.space',
       'talk.politics.guns', 'sci.med', 'comp.sys.ibm.pc.hardware',
       'comp.os.ms-windows.misc', 'rec.motorcycles', 'talk.religion.misc',
       'misc.forsale', 'alt.atheism', 'sci.electronics', 'comp.windows.x',
       'rec.sport.hockey', 'rec.sport.baseball', 'soc.religion.christian',
       'talk.politics.mideast', 'talk.politics.misc', 'sci.crypt'],
      dtype=object)

In [14]:
print(df.iloc[0,0])

I was wondering if anyone out there could enlighten me on this car I saw
the other day. It was a 2-door sports car, looked to be from the late 60s/
early 70s. It was called a Bricklin. The doors were really small. In addition,
the front bumper was separate from the rest of the body. This is
all I know. If anyone can tellme a model name, engine specs, years
of production, where this car is made, history, or whatever info you
have on this funky looking car, please e-mail.

In [15]:
df.iloc[0,2]

'rec.autos'

In [17]:
print(df.iloc[1,0])

A fair number of brave souls who upgraded their SI clock oscillator have
shared their experiences for this poll. Please send a brief message detailing
your experiences with the procedure. Top speed attained, CPU rated speed,
add on cards and adapters, heat sinks, hour of usage per day, floppy disk
functionality with 800 and 1.4 m floppies are especially requested.

I will be summarizing in the next two days, so please add to the network
knowledge base if you have done the clock upgrade and haven't answered this
poll. Thanks.

In [19]:
df.iloc[1,2]

'comp.sys.mac.hardware'

In [ ]:
x="you won lottery"
p("spam"|"you won lottery")=

In [36]:
#countVecctorizer
d1="I love programming"
d2="programming is intresting"
d3="I love pizza very very much"
# vocab={I,love,programming,is,intresting,love,much}
# d1=[1,1,1,0,0,0,0,0]
# d2=[0,0,1,1,1,0,0,0]
# d3=[1,1,0,0,0,1,2,1]

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
document=[d1,d2,d3]
vectorizer=CountVectorizer()
x=vectorizer.fit_transform(document)

In [39]:
vectorizer.fit_transform(document)
print(vectorizer.vocabulary_)

{'love': 2, 'programming': 5, 'is': 1, 'intresting': 0, 'pizza': 4, 'very': 6, 'much': 3}

In [42]:
print(x.toarray())

[[0 0 1 0 0 1 0]
 [1 1 0 0 0 1 0]
 [0 0 1 1 1 0 2]]

In [43]:
train_df=pd.read_csv("newsgroups_train.csv")
test_df=pd.read_csv("nlp_test.csv")

In [45]:
train_df.shape

(11314, 3)

In [46]:
test_df.shape

(7532, 3)

In [47]:
train_df.head(5)

,text,target,category
0,I was wondering if anyone out there could enli...,7,rec.autos
1,A fair number of brave souls who upgraded thei...,4,comp.sys.mac.hardware
2,"well folks, my mac plus finally gave up the gh...",4,comp.sys.mac.hardware
3,\nDo you have Weitek's address/phone number? ...,1,comp.graphics
4,"From article <C5owCB.n3p@world.std.com>, by to...",14,sci.space

In [48]:
test_df.head(5)

,text,target,category
0,I am a little confused on all of the models of...,7,rec.autos
1,I'm not familiar at all with the format of the...,5,comp.windows.x
2,"\nIn a word, yes.\n",0,alt.atheism
3,\nThey were attacking the Iraqis to drive them...,17,talk.politics.mideast
4,\nI've just spent two solid months arguing tha...,19,talk.religion.misc